*{
  box-sizing: border-box;
}

  html,
  body,
  #root {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  .blog-link {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem;
      text-decoration: none;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: palevioletred;
      z-index: 999;
  }
  
  .blog-link:hover {
      color: rgb(141, 56, 85);
  }